# Ignore all .log files
*.log

# Ignor .csv, .txt files
*.csv
*.txt
*.bin


#ignore debug dir
debug/

# Ignore the node_modules directory
node_modules/

# Ignore a specific file
config.json
av4-extract-time-pose.ini
